
/*Title of page*/
.title{
	font-size: 40px;
	text-align: center;
}

.banner{
	margin-top: 100px;
}

/* Body */
body{
	background: url('http://k38.kn3.net/taringa/3/3/8/1/3/7//aadamm/573.jpg?6665')no-repeat fixed; 
	cursor: url("http://u.jimdo.com/www21/o/s4e9df44a0ad8ccd8/img/i0ebb25453c3942ad/1391502327/thumb/image.png"),default; 
}

/*Credits*/
.logo{
	margin-top: 150px;
	margin-left: 400px;
}

/*Tabla de la lista*/
.display{
	margin-top: 100px;
	margin-left: 50px;
}

td{
	text-align: center;
}

table{
	background-color: white;
}


/******Div of Filters*****/
/*.Filters {
	display: inline-block;
}*/


.scrollVertical{
/* Scroll Bar Vertical en la tabla del JSON */
display: block;
  height: calc(60vh - 1px);
  min-height: calc(200px + 1 px);

  /*use calc for fixed ie9 & <*/
  overflow-Y: scroll;
  }


.jumbotron{
	background-color: yellow;
}